@model TeachingApp.Models.SentenceViewModel
@{ViewBag.Title = "Sentence Test";
}

<h3>@ViewBag.Message</h3>

<h2>Sentence test</h2>

<h2>@Model.Text</h2>

@using (Html.BeginForm("Index", "Sentences", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <hr />
        Vilken mening kan du bilda med hjälp av orden?
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.Text)
        @Html.EditorFor(m => m.UserResponseSentence)
        <input type="submit" value="Submit" class="btn btn-default" />
        <hr />
        @Html.ActionLink("End your Test", "Index", "Home")
    </div>
}

