@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teaching Application</h1>
    <p class="lead">This application have some test for you. Choose one.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bild test</h2>
        <p>
            Test: Type in what you see on the picture.
        </p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Bild", "Index", "Pictures")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Text test</h2>
        <p>
            Test: Type in missing punctuation marks in a text.
        </p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Punctuation", "Index", "DifferentialTexts")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Color test</h2>
        <p>
            Test: Click on button with the color in a text.
        </p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Color", "Index", "Colors")</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Make a sentence</h2>
        <p>
            Test: Make a sentence of the words on the screen.
        </p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Sentence", "Index", "Sentences")</a></p>
    </div>
    <div class="col-md-4">
        <h2>One Category</h2>
        <p>
            Test: Answer 5 questions in one Category.
        </p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("One category", "Index", "Questions")</a></p>
    </div>
    <div class="col-md-4">
        <h2>15 Questions</h2>
        <p>
            Test: Answer 15 questions in many Categories.
        </p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Many categories", "Index", "Questions")</a></p>
    </div>
</div>
